In [19]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt

In [20]:
with open('data.json') as f:    
    data = json.load(f)
df = pd.DataFrame(data)

In [21]:
from random import random


class Agent:
    def __init__(self, type):
        # -1 for desperate, 0 for neutral, 1 for greedy
        self.type = type
        # value of despair (either positive or negative) in the agent
        self.delta = np.random.choice([0.1, 0.3, 0.5, 0.7])
    def run(self, value):
        return value + self.delta*self.type

In [22]:
df

,_id,min,max,avg,count_values,median,first,last
0,2020-12-31,40.00,40.0,40.00,1,40.00,"{'value': 40, 'date': '2021-01-01 05:32:50'}","{'value': 40, 'date': '2021-01-01 05:32:50'}"
1,2021-01-01,38.75,42.0,40.46,7,40.25,"{'value': 40.5, 'date': '2021-01-01 07:49:55'}","{'value': 40, 'date': '2021-01-02 06:04:57'}"
2,2021-01-02,38.00,40.0,39.62,25,40.00,"{'value': 40, 'date': '2021-01-02 07:23:01'}","{'value': 40, 'date': '2021-01-03 06:49:54'}"
3,2021-01-03,36.00,41.0,39.60,10,40.00,"{'value': 41, 'date': '2021-01-03 07:23:28'}","{'value': 40, 'date': '2021-01-04 04:14:32'}"
4,2021-01-04,38.00,45.0,41.24,35,41.75,"{'value': 42, 'date': '2021-01-04 07:12:51'}","{'value': 40, 'date': '2021-01-05 06:57:42'}"
...,...,...,...,...,...,...,...,...
624,2022-09-19,120.00,190.0,177.56,1160,180.00,"{'value': 180.0, 'date': '2022-09-19 07:08:13'}","{'value': 189.0, 'date': '2022-09-20 06:56:08'}"
625,2022-09-20,120.00,190.0,180.07,1123,180.00,"{'value': 175.0, 'date': '2022-09-20 07:00:50'}","{'value': 190.0, 'date': '2022-09-21 06:59:33'}"
626,2022-09-21,100.00,190.0,182.41,1115,184.00,"{'value': 190.0, 'date': '2022-09-21 07:00:48'}","{'value': 175.0, 'date': '2022-09-22 06:57:11'}"
627,2022-09-22,50.00,190.0,183.11,1065,185.00,"{'value': 127.0, 'date': '2022-09-22 07:04:30'}","{'value': 180.0, 'date': '2022-09-23 06:53:49'}"
628,2022-09-23,39.00,190.0,184.99,967,187.00,"{'value': 180.0, 'date': '2022-09-23 07:01:18'}","{'value': 190.0, 'date': '2022-09-23 21:01:11'}"

In [23]:
# take first 300 rows from df
price = df.iloc[3:300]
prices = df['median'].tolist()
price_mean = []
# 3 day window for mean
for i in range(3,300):
        price_mean.append(int((prices[i-1]+prices[i-2]+prices[i-3]+prices[i])/4))
price['mean'] = price_mean
price['mode'] = price['median']

price = price[['mean', 'mode', 'median']]
price

/tmp/ipykernel_78105/2326541815.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['mean'] = price_mean
/tmp/ipykernel_78105/2326541815.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price['mode'] = price['median']

     mean   mode  median
3      40  40.00   40.00
4      40  41.75   41.75
5      40  40.00   40.00
6      40  40.00   40.00
7      40  40.00   40.00
..    ...    ...     ...
295    67  67.00   67.00
296    67  67.00   67.00
297    67  67.00   67.00
298    67  67.00   67.00
299    67  68.00   68.00

[297 rows x 3 columns]

In [24]:
from scipy.stats import skewnorm
from numpy import random

normal = lambda n : random.normal(loc=1,scale=10, size=n) 
uniform = lambda n : random.uniform(low=-1, high=10, size=n)
exponential = lambda n : random.exponential(scale=10,size=n)
poisson = lambda n : random.poisson(lam=2, size=n) 
skewnor  = lambda n : skewnorm.rvs(2, loc=5, scale=10, size=n)

distributions = {
    "normal" : normal,
    "skewnorm" : skewnor,
    "uniform": uniform,
    "exponential": exponential,
    "poisson": poisson, 
}

In [25]:
def generate_agents(dist):
    x = distributions[dist](500)
    agents = []
    for i in x:
        if i < 0:
            type = -1
        if i > 10:
            type = 1
        else:
            type = 0
        agents.append(Agent(type))
    return agents

In [26]:
from scipy.stats import mode

def run(days, dist, prices):
    
    agents = generate_agents(dist)
    

    new_prices = prices.copy()
    
    for i in range(days):

        day_prices_mean = []
        day_prices_median = []
        day_prices_mode = []

        for agent in agents:
            day_prices_mean.append(agent.run(new_prices['mean'].iloc[-1]))
            day_prices_mode.append(agent.run(new_prices['mode'].iloc[-1]))
            day_prices_median.append(agent.run(new_prices['median'].iloc[-1]))

        today_mean = np.mean(day_prices_mean)
        today_median = np.median(day_prices_median)
        today_mode = int(mode(day_prices_mode)[0])

        # append today's prices to the dataframe
        new_prices = new_prices.append({'mean': today_mean, 'median': today_median, 'mode': today_mode}, ignore_index=True)
    # dump prices to text file
    with open("file.txt", "a") as file:
        file.write(str(new_prices.tail()))
        file.write("\n")

In [27]:
with open("file.txt", "w") as file:
    file.write("starting simulations\n")
for dist in distributions.keys():
    with open("file.txt", "a") as file:
        file.write(f"--------------------- {dist} ----------------------\n")
    print(dist)
    for i in range(30):
        with open("file.txt", "a") as file:
            file.write(f"simulation {i+1}/30\n")
        print(f"simulation {i+1}/30")
        run(days = 700, dist=dist, prices=price)

normal
simulation 1/30
simulation 2/30
simulation 3/30
simulation 4/30
simulation 5/30
simulation 6/30
simulation 7/30
simulation 8/30
simulation 9/30
simulation 10/30
simulation 11/30
simulation 12/30
simulation 13/30
simulation 14/30
simulation 15/30
simulation 16/30
simulation 17/30
simulation 18/30
simulation 19/30
simulation 20/30
simulation 21/30
simulation 22/30
simulation 23/30
simulation 24/30
simulation 25/30
simulation 26/30
simulation 27/30
simulation 28/30
simulation 29/30
simulation 30/30
skewnorm
simulation 1/30
simulation 2/30
simulation 3/30
simulation 4/30
simulation 5/30
simulation 6/30
simulation 7/30
simulation 8/30
simulation 9/30
simulation 10/30
simulation 11/30
simulation 12/30
simulation 13/30
simulation 14/30
simulation 15/30
simulation 16/30
simulation 17/30
simulation 18/30
simulation 19/30
simulation 20/30
simulation 21/30
simulation 22/30
simulation 23/30
simulation 24/30
simulation 25/30
simulation 26/30
simulation 27/30
simulation 28/30
simulation 29/30
simulation 30/30
uniform
simulation 1/30
simulation 2/30
simulation 3/30
simulation 4/30
simulation 5/30
simulation 6/30
simulation 7/30
simulation 8/30
simulation 9/30
simulation 10/30
simulation 11/30
simulation 12/30
simulation 13/30
simulation 14/30
simulation 15/30
simulation 16/30
simulation 17/30
simulation 18/30
simulation 19/30
simulation 20/30
simulation 21/30
simulation 22/30
simulation 23/30
simulation 24/30
simulation 25/30
simulation 26/30
simulation 27/30
simulation 28/30
simulation 29/30
simulation 30/30
exponential
simulation 1/30
simulation 2/30
simulation 3/30
simulation 4/30
simulation 5/30
simulation 6/30
simulation 7/30
simulation 8/30
simulation 9/30
simulation 10/30
simulation 11/30
simulation 12/30
simulation 13/30
simulation 14/30
simulation 15/30
simulation 16/30
simulation 17/30
simulation 18/30
simulation 19/30
simulation 20/30
simulation 21/30
simulation 22/30
simulation 23/30
simulation 24/30
simulation 25/30
simulation 26/30
simulation 27/30
simulation 28/30
simulation 29/30
simulation 30/30
poisson
simulation 1/30
simulation 2/30
simulation 3/30
simulation 4/30
simulation 5/30
simulation 6/30
simulation 7/30
simulation 8/30
simulation 9/30
simulation 10/30
simulation 11/30
simulation 12/30
simulation 13/30
simulation 14/30
simulation 15/30
simulation 16/30
simulation 17/30
simulation 18/30
simulation 19/30
simulation 20/30
simulation 21/30
simulation 22/30
simulation 23/30
simulation 24/30
simulation 25/30
simulation 26/30
simulation 27/30
simulation 28/30
simulation 29/30
simulation 30/30